# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# WebdriverIO reports
allure-results/
allure-report/
reports/
*.log

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo

# Coverage reports
coverage/

# Build artifacts
dist/
build/